<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-3">
                <div class="f-info-socials fs-3">
                    <a href="#" class="text-light me-3"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="#" class="text-light me-3"><i class="fa-brands fa-instagram"></i></a>
                    <a href="#" class="text-light me-3"><i class="fa-brands fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-12 mb-2">
                <div class="f-info-brand">&copy; Wanderlust Private Limited</div>
            </div>
            <div class="col-12 footer-links">
                <a href="/privacy">Privacy</a>
                <a href="/terms">Terms</a>
            </div>
        </div>
    </div>
</footer>